// app global css in SCSS form
@import url('https://fonts.googleapis.com/css2?family=Nico+Moji&display=swap');

body{
    font-family: Inter;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
    vertical-align: middle;
}